* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.limite-margem {
    width: 1224px;
    margin: 0 auto;
}

.listra {
    width: 70%;
    margin: 20px auto;
    border-bottom: 1px solid black;
}

header .limite-margem div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .limite-margem div nav a {
    font-size: 25px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

header .limite-margem div nav a:hover {
    color: rgb(0, 0, 134);
}

header img {
    width: 300px;
}

main .banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("img/mundial-banner.png");
    width: 100%;
    height: 800px;
}

main .banner .boas-vindas {
    width: 800px;
    margin: 0 20px;
    padding: 20px;
    background-color: rgb(15, 14, 75);
}

main .banner .boas-vindas h1 {
    font-size: 30px;
    color: rgb(174, 196, 245);
    margin-bottom: 20px;
}

main .banner .boas-vindas p {
    text-align: justify;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 30px;
}

main .sobre .limite-margem .pai {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

main .sobre .limite-margem .pai .filho {
    margin: 0 20px;
}

main .sobre .limite-margem .pai .filho h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

main .sobre .limite-margem .pai .filho p {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

main .sobre .limite-margem img {
    width: 600px;
}

main .vantagens {
    margin-top: 50px;
}

main .vantagens h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

main .vantagens p {
    font-size: 20px;
    margin-bottom: 20px;
}

main .vantagens ul {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
}

main .vantagens ul li {
    padding: 15px;
    margin: 10px 0;
    background-color: rgb(15, 14, 75);
    color: white;
}

main .vantagens img {
    width: 100%;

}

main .contato {
    margin: 50px 0;
}

main .contato h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

main .contato p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

main .contato .formas-contato p {
    width: 400px;
    margin: 10px auto;
    background-color: rgb(15, 14, 75);
    color: white;
    border-radius: 20px;
    padding: 15px;
}

footer {
    text-align: center;
    background-color: rgb(15, 14, 75);
    color: white;
    padding: 20px;
}